@import '../../../scss/variables';

.hall-container {
  width: 80%;
  height: 60vh;
  margin: 0 auto;
  overflow: scroll;
  border: 4px solid $color-blue;
  border-radius: 5px;
  border-bottom: 1px solid $color-dark;
  background-color: rgba(255, 255, 255, 0.8);
}

.message-container{
  margin: 0 auto;
  width: 80%;
  input {
    font-size: 16px;
    padding: 15px 10px;
    border-radius: 5px;
    border: 4px solid $color-blue;
    border-top: 1px solid $color-dark;
    bottom: 100px;
    width: 100%;

  }
}
.message {
  width: 80%;
  margin: auto 10%;
  color: $color-dark;
  border-bottom: 1px solid $color-blue;
  border-radius: 2px;
  padding: 10px 0 5px 0;

  p {
    text-align: left;
    margin: auto 10px;
    font-size: 16px;
  }

  .thumb {

    img {
      clip-path: circle(40% at center);
      max-width: 40px;
      margin-left: 1px;
      vertical-align: middle;
      }
  }
}

.wraper {
  display: flex
}


@media (min-width: 1028px) {
  .hall-container, .message-container {
    max-width: 500px;
  }

  .hall-container {
    height: 70vh;
  }
}

@media (max-height: 667px) {
  .hall-container {
    height: 50vh;
  }
}