<div class="chat container max">
  <div>
    <h2>IronChat</h2>
  </div>
  <div #scrollMe class="hall-container">
    <div *ngIf="messageArray">
      <div *ngFor="let item of messageArray" class="message">
        <div class="wraper">
          <div class="thumb">
            <img src="{{item.picture}}" alt="">
          </div>
            <p>{{item.message}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="message-container" >
    <div class="input-message">
      <input type="text" class="form-control" [(ngModel)]="messageText" (keydown)="sendMessage($event)" placeholder="Say hello!">            
    </div>
  </div>
</div>
