
.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  img {
    border: 1px solid $color-dark;
    padding: 5px;
    border-radius: 90px;
  }

  img:hover {
    background-color: $color-pink;
  }

  .unit {
    width: 90%;
  } 

  li {
    cursor: pointer;
    margin-bottom: 10px;
  }

  a {
    cursor: pointer;
  }
}

// .scroll {
//   overflow: scroll;
//   height: 60vh;
//   width: 360px;
//   padding-bottom: 40px;
//   overscroll-behavior: none;
// }

.card {
  background-color: $color-white;;
  padding: 55px 0;
  border-radius: 20px;
  box-shadow: 0 2px 7px 1px rgba(12, 12, 13, 0.1);
  color: $color-dark;

  &.teachers-card {
    width: 100%;
    align-content: center;
    padding: 20px 20px 10px;
  }
  .name {
    font-weight: 500;
  }
  
  .person {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
  }

  &.students-card {
    width: 100%;
    align-content: center;
    padding: 20px 20px 10px;
  }

  &.tas-card, user-card {
    width: 170px;
    height: 160px;
    text-align: center
  }

  &.cohort-card {
    width: 170px;
    height: 160px;
    text-align: center;
    position: relative;
    // margin: 5px;
    margin: 0 auto;

    img {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    p {
      margin: 0;
    }

    .location {
      font-size: 13px;
    }
  }

  &.curriculum-card {
    width: 280px;
    height: 160px;
    text-align: center;
    margin: 0 auto;
  }

  &.unit-card {
    background: none;
    width: 100%;
    height: 60px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    align-items: center;
    margin-bottom: 6px;

    p {
      flex: 1;
      border-right: 1px solid $color-dark;
      margin: auto;
      padding: 0 20px;
      font-weight: 400;
      font-size: 15px;
      text-transform: capitalize;
    }

    h3 {
      flex: 2;
      padding: 0 20px;
      margin: auto;
      font-size: 20px;
    }
  }

  &.create {
    padding-top: 70px;
  }

  &.is-lesson {
    background-color: $color-orange;
  }

  &.is-pr {
    background-color: $color-green;
  }

  &.is-ritual {
    background-color: $color-pink;
  }

  &.is-break {
    background-color: $color-yellow;
  }

  a {
    color: $color-dark;
    width: 90%;
  }

  h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;

    &.curriculum-title {
      font-size: 45px;
      display: inline-block;
      line-height: 51px;
    }
  }
  p {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 20px;
  }

  span {
    padding-top: 40px;
    font-size: 60px;
  }
}

.tas-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}










.card-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  li {
    list-style: none;
    width: 40%;
  }
}


@media (min-width: 768px) {
  .card-container {
    max-width: 728px;
    margin: 0 auto;

    .unit {
      width: 45%;
    } 

  }
}

@media (min-width: 1028px) {
  .card-container {
    max-width: 100%;
    margin: 0 auto;

    .unit {
      width: 31%;
    } 

  }
}