<div *ngIf="cohort">
  <div class="teacher-card">
    <p>Teacher</p>
    <ul>
      <li *ngFor="let teacher of cohort.teacher" class="teachers-card">
        <p>{{teacher.firstName}}</p>
      </li>
    </ul>
  </div>
  <div>
    <p>TA</p>
    <ul>
      <li *ngFor="let ta of cohort.tas" class="tas-card">
        <p>{{ta.firstName}}</p>
      </li>
    </ul>
  </div>
  <div>
    <p>Student</p>
    <ul>
      <li *ngFor="let student of cohort.students" class="students-card">
        <p>{{student.firstName}} {{student.lastName}}</p>
      </li>
    </ul>
  </div>
  
</div>
