<div *ngIf="cohort" class="scroll">
  <div>
    <a [routerLink]="['/user/create', cohort._id]">
      <li>
        <div class="card cohort-card create">
          <span>add user</span>
        </div>
      </li>
    </a>
  </div>
  <div class="teacher-card">
    <ul class="card-container">
      <li *ngFor="let teacher of cohort.teacher" class="card teachers-card">
        <p class="person">Teacher</p>
        <p class="name">{{teacher.firstName}}</p>
      </li>
    </ul>
  </div>
  <div class="tas-cards">
    <ul class="card-container">
      <li *ngFor="let ta of cohort.tas" class="card tas-card">
        <p class="person">TA</p>
        <p class="name">{{ta.firstName}}</p>
      </li>
    </ul>
  </div>
  <div>
    <ul class="card-container">
      <li *ngFor="let student of cohort.students" class="card students-card">
        <p class="person">Student</p>
        <p class="name">{{student.firstName}} {{student.lastName}}</p>
      </li>
    </ul>
  </div>
</div>
