.create {
  margin-bottom: 20px;
  padding: 46px;
  
  span {
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 0;

    &:first-child {
    font-size: 30px;
  }
  }
}

.user-cards {

  p {
    margin: 0;
  }

  ul {
    margin: 0 auto;

    &.tas {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  img {
    clip-path: circle(40% at center);
    width: 75px;
  }

  
  .user-pic {
    flex:1;
  }

  &.teacher {
    margin-bottom: 20px;
  }

  .teachers-card,
  .students-card {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .user-img {
      flex: 1;
      text-align: center;
    }

    .info-card {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      padding-left: 10px;
    }
  }

  .students-card {
    margin-bottom: 18px;
    position: relative;

    .delete {
      position: absolute;
      top: 30px;
      width: 25px;
      right: 30px;
      
      img {
        clip-path: none;
        width: 100%;
      }
    }
  }

  .tas-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    margin-bottom: 18px;
    height: auto;
    padding: 20px 0;

    .info-card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

// .user-cards {

//   ul {
//     width: 80%;
//     margin: 0 auto;

//     &.tas {
//       display: flex;
//       justify-content: space-around;
//       flex-wrap: wrap;
//     }
//   }

//   img {
//     clip-path: circle(40% at center);
//     width: 145px;
//   }

  
//   .user-pic {
//     flex:1;
//   }

//   &.teacher {
//     margin-bottom: 20px;
//   }

//   .teachers-card,
//   .students-card {
//     display: flex;
//     justify-content: space-around;
//     align-items: center;

//     .user-img {
//       flex: 1;
//     }

//     .info-card {
//       flex: 3;
//       display: flex;
//       flex-direction: column;
//       align-items: baseline;
//       padding-left: 30px;
//     }
//   }

//   .students-card {
//     margin-bottom: 18px;
//     position: relative;

//     .delete {
//       position: absolute;
//       top: 30px;
//       width: 40px;
//       right: 30px;
      
//       img {
//         clip-path: none;
//         width: 100%;
//       }
//     }
//   }

//   .tas-card {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 310px;
//     margin-bottom: 18px;
//     height: 280px;
//     padding: 35px 0;

//     .info-card {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//     }
//   }
// }