<div class="container center">
  <app-loading *ngIf="loading"></app-loading>
  <div *ngIf="cohort" class="drive">
    <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate >
      <div class="field">
        <label></label>
        <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
      </div>
      <div class="field submit">
        <button type="submit" >Add an Image</button>
      </div>
    </form>
    <div class="img-container" id="columns">
      <div *ngFor="let image of images | reverse" class="figure">
        <img src="{{image}}" alt="">
      </div> 
    </div>
  </div>
</div>
