<section class="user-list container max">
  <div class="container center">
    <app-arrow-back></app-arrow-back>
    <h2>Ironhackers</h2>
  
    <div class="user-cards teacher">
      <ul *ngIf="users" >
        <li *ngFor="let user of users" class="card students-card" [routerLink]="['/user', user._id]">
            <div class="user-img">
              <img src="{{user.profilePic}}" alt="">
            </div>
            <div class="info-card">
              <p class="person">{{user.role}}</p>
              <p class="name">{{user.firstName}} {{user.lastName}}</p>
            </div>
        </li>
      </ul>
    </div>
  </div>
</section>

