<section class="form-cohort">
  <app-arrow-back></app-arrow-back>
  <h2>Edit profile</h2>
  <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}" class="scroll">

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && firstNameField.errors}">
      <label>First Name</label>
      <input type="text" name="firstName" [(ngModel)]="newUser.firstName" #firstNameField="ngModel" required [disabled]="processing">
      <div *ngIf="feedbackEnabled && firstNameField.errors || firstNameField.dirty && firstNameField.errors">
        <p *ngIf="firstNameField.errors.required" class="validation">First Name required</p>
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && lastNameField.errors}">
      <label>Last Name</label>
      <input type="text" name="lastName" [(ngModel)]="newUser.lastName" #lastNameField="ngModel" required [disabled]="processing">
      <div *ngIf="feedbackEnabled && lastNameField.errors || lastNameField.dirty && lastNameField.errors">
        <p *ngIf="lastNameField.errors.required" class="validation">Last Name required</p>
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && descriptionField.errors}">
      <label>Description</label>
      <input type="text" name="description" [(ngModel)]="newUser.description" #descriptionField="ngModel" required
        [disabled]="processing">
      <div *ngIf="feedbackEnabled && descriptionField.errors || descriptionField.dirty && descriptionField.errors">
        <p *ngIf="descriptionField.errors.required" class="validation">description address required</p>
      </div>
    </div>

    <div class="field">
      <label>Picture</label>
      <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
    </div>

    <div class="field submit">
      <button type="submit" [disabled]="processing">Add User</button>
      <div *ngIf="feedbackEnabled && form.invalid || error" [ngSwitch]="error">
        <p class="validation">there are errors in the form, please review the fields</p>
        <p *ngSwitchCase="'email-not-unique'" class="validation">Email already in use</p>
      </div>
    </div>
  </form>
</section>
