<section class="container" *ngIf="curriculum">
  <app-arrow-back></app-arrow-back>
  <h2>{{curriculum.type}}</h2>
  <div class="curriculum-section">
    <div class="modules-menu">
      <p (click)="handleToggleClickMOne()">M1</p>
      <p (click)="handleToggleClickMTwo()">M2</p>
      <p (click)="handleToggleClickMThree()">M3</p>
    </div>

    <div class="scroll" *ngIf="curriculum">
      <app-module-one-units *ngIf="mOne"></app-module-one-units>
      <app-module-two-units *ngIf="mTwo"></app-module-two-units>
      <app-module-three-units *ngIf="mThree"></app-module-three-units>
    </div>
  </div>
</section>