<app-loading *ngIf="loading"></app-loading>
<section class="container max" *ngIf="curriculum">
  <app-arrow-back></app-arrow-back>
  <h2>{{curriculum.type}}</h2>
  <div class="curriculum-section sticky">
    <div class="modules-menu">
      <p [ngClass]="{'active': mOne}" (click)="handleToggleClickMOne()">M1</p>
      <p [ngClass]="{'active': mTwo}" (click)="handleToggleClickMTwo()">M2</p>
      <p [ngClass]="{'active': mThree}" (click)="handleToggleClickMThree()">M3</p>
    </div>

    <div *ngIf="curriculum">
      <app-module-one-units *ngIf="mOne"></app-module-one-units>
      <app-module-two-units *ngIf="mTwo"></app-module-two-units>
      <app-module-three-units *ngIf="mThree"></app-module-three-units>
    </div>
  </div>
</section>