<ul class="card-container">
  <li *ngFor="let unit of units" 
    [ngClass]="{
      'is-lesson': unit.category === 'lessons',
      'is-ritual': unit.category === 'rituals',
      'is-pr': unit.category === 'practice&reviews',
      'is-break': unit.category === 'break' 
    }">
    <a [routerLink]="['/unit', unit._id]">
      <div class="card section">
        <h3>{{unit.subCategory}}</h3>
        <p>{{unit.title}}</p>
      </div>
    </a>
    <!-- <app-icecream-card [icecream]="icecream"></app-icecream-card> -->
  </li>
</ul>