<section class="settings" *ngIf="user">
  <h2 class="title">Change your Password</h2>
  <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
  
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && currentPasswordField.errors}">
      <input type="password" name="currentPassword" [(ngModel)]="passwords.currentPassword" #currentPasswordField="ngModel" required [disabled]="processing"
        placeholder="Current Password" />
      <div *ngIf="feedbackEnabled && currentPasswordField.errors || currentPasswordField.dirty && currentPasswordField.errors">
        <p *ngIf="currentPasswordField.errors.required" class="validation">Current Password required</p>
      </div>
    </div>
  
    <div class="field-login" [ngClass]="{'has-error': feedbackEnabled && newPasswordField.errors}">
      <input type="password" name="password" [(ngModel)]="passwords.newPassword" #newPasswordField="ngModel" required [disabled]="processing"
        placeholder="New Password" />
      <div *ngIf="feedbackEnabled && newPasswordField.errors || newPasswordField.dirty && newPasswordField.errors">
        <p *ngIf="newPasswordField.errors.required" class="validation">New Password required</p>
      </div>
    </div>
  
    <div class="field submit">
      <button type="submit" [disabled]="processing">Save</button>
      <div *ngIf="feedbackEnabled && form.invalid">
        <p class="validation">there are errors in the form, please review the fields</p>
      </div>
      <div *ngIf="error" [ngSwitch]="error">
        <p *ngSwitchCase="'not-found'" class="validation">Current password not found</p>
        <p *ngSwitchDefault class="validation">there are errors, please <a (click)="submitForm(form)">try again</a></p>
      </div>
    </div>
  </form>
</section>


