<app-loading *ngIf="loading"></app-loading>
<section  *ngIf="unit" class="unit-details">
  <app-arrow-back></app-arrow-back>
  <h2>{{unit.title}}</h2>
  <div class="scroll" >
    <h3 [ngClass]="{
      'is-lesson': unit.category === 'lessons',
      'is-ritual': unit.category === 'rituals',
      'is-pr': unit.category === 'P&R',
      'is-break': unit.category === 'break'
      }">{{unit.subCategory}}</h3>
    <h4>Duration: {{unit.duration}} min</h4>
    <p>{{unit.learningObjective}}</p>
    <p>{{unit.description}}</p>
      <ul>
        <li *ngFor= "let link of unit.links">
          <a href="http://{{link}}">{{link}}</a>
        </li>
      </ul>
  </div>
</section>
