<app-loading *ngIf="loading"></app-loading>
<app-arrow-back></app-arrow-back>
<section class="cohort-details" *ngIf="cohort" >
  <div class="container max">
    <h2>{{cohort.type}}</h2>
    <p class="start-date">{{cohort.startDate | date: "MMyy"}}</p>
  </div>
  <div *ngIf="cohort" class="container max">
    <div class="cohort-menu">
      <p [ngClass]="{'active': calendarView}" (click)="handleToggleClickCalendarView()">calendar</p>
      <p [ngClass]="{'active': overview}" (click)="handleToggleClickOverview()">overview</p>
      <p [ngClass]="{'active': drive}" (click)="handleToggleClickDrive()">drive</p>
      <p [ngClass]="{'active': unit}" (click)="handleToggleClickAddUnit()">add unit</p>
    </div>
  
    <div *ngIf="overview">
      <app-cohort-overview [cohort]="cohort"></app-cohort-overview>
    </div>

    <div *ngIf="addUnit">
      <app-add-unit [cohort]="cohort"></app-add-unit>
    </div>

    <div *ngIf="drive">
      <app-cohort-drive [cohort]="cohort"></app-cohort-drive>
    </div>

    <div *ngIf="calendarView">
      <app-cohort-calendar-view [cohort]="cohort" [currentUser]="currentUser"></app-cohort-calendar-view>
    </div>
  </div>
</section>
