@import '../../../scss/variables';
.container-card-user {
  position: relative;
}

.profile-pic {
  width: 100%;
  position: absolute;
  z-index: 10;
  margin: 0 auto;
  top:-91px;
  left: 0;
  text-align: center;


    img {
      clip-path: circle(40% at center);
      width: 115px;
    }
}

.info-user {
  margin: 100px auto 30px;
  border-radius: 10px;
  width: 90%;
  background-color: #f9f9fa;
  box-shadow: 0 -1px 15px 1px rgba(12, 12, 13, 0.1);
  padding-top: 52px;
  padding-bottom: 20px;
  text-align: center;
  position: relative;

  h2 {
    font-size: 20px;
    margin-bottom: -2px;
  }

  p{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
  }

  a {
    display: inline-block;
    text-align: center;
    padding: 0px 5px;
    margin: 10px 0;
  }
  
  .edit-icon {
    position: absolute;
    top: 10px;
    z-index: 110;
    right: 10px;
    cursor: pointer;

    img{
      width: 80%;
    }

    div {
      a {
        display: inline;
      }
    }

  }
  .description {
    text-transform: none;
  }


  .settings {
    text-align: center;

    a {
      font-size: 12px;
      color: $color-blue;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.projects-desk {
  display: none;
}

.projects {
    h3 {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
}

.project-card{

  .info-projects {
    background-color: $color-dark;
    color: $color-white;
    padding: 30px 30px;
    width: 55%;
    margin: 30px auto;
    border-radius: 10px;

    .delete {
      text-align: right;
    }
  }

  h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 700;
  }

  hr {
    border: none;
    border-top: 2px solid $color-white;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-bottom: 25px;
  }

  

  h4 {
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    padding-bottom: 10px;
  }

  p {
    text-align: center;
  }

  a{
    color: $color-blue;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
  }
    
}

h3 {
  text-align: center;
}

form {

  input {
    padding: 10px;
  }

  .field {
    margin-bottom: 10px;
  }


  .submit {
    padding-top: 0;
    margin-bottom: 0;
    
      button {
      
        padding: 10px 10px;
        text-align: center;
        border: none;
        font-size: 18px;
        border-radius: 10px;
        width: 175px;
        background-color: #32C3FF;
        cursor: pointer;
        color: #f9f9fa;
        font-weight: 700;
        
      }
  } 


}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }

  .profile-pic {
    top: -101px;
    img {
        width: 125px;
      }
  }

  .projects-mobile {
    display: none;
  }

  .projects-desk {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .projects-mobile {
    display: none;
  }

  .project-card{
    width: 31.33%;
    margin: 10px 0;

    .info-projects {
      width: 100%;

      .delete {
        margin-bottom: 20px;
      }
    }
      
  }
}

@media (min-width: 1028px) {
  body {
    background-image: url(../../../assets/bg-big.jpg);
  }

  .container {
    max-width: 800px;
    margin: 0 20px 0 120px;

    &.max {
      max-width: 100%;
    }

    &.center {
      margin: 0 auto;
    }
  }

  .profile-pic {
    left: 0;
    top: -90px;


      img {
        width: 160px;
      }
  }

  .info-user {
    padding-top: 120px;
    margin-bottom: 40px;

    p {
      font-size: 15px;
    }

    .settings {
      a {
        font-size: 15px;
      }
    }
  }

  .projects-desk {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .projects-mobile {
    display: none;
  }

  .project-card{
    width: 31.33%;
    margin: 10px 0;

    .info-projects {
      width: 100%;

      .delete {
        margin-bottom: 20px;
      }
    }
      
  }
}