.grid-days {
  display: grid;
  grid-template-columns: repeat(45, 100vw);
  overflow: scroll;
  scroll-behavior: smooth;
  // display: block;
  // overflow-y: scroll;
  // text-align: center;
}

 
.scrolling-box {
background-color: #eaeaea;
display: block;
height: 200px;
overflow-y: scroll;
text-align: center;
width: 200px;
}

.day-card {
  text-align: center;
}

.morning, .midday, .evening {
  margin-bottom: 20px;
}
 

// .grid-units {
//   display: grid;
//   grid-template-columns: repeat(45, 100vw);
//   overflow: scroll;
// }