// .section-calendar {

// }

.grid-days {
  display: grid;
  grid-template-columns: repeat(45, 100vw);
  overflow: scroll;
  scroll-behavior: smooth;
}

.arrows {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;

  p {
    display: inline;
  }
}


.day-card {
  text-align: center;
}

.morning {
  margin-bottom: 20px;
}

.calendar-view {
  margin: 0 auto;
}

.calendar-stuff {
  .scroll {
    height: 30vh;
  }
}

.scroll-x {
  display: grid;
  grid-template-columns: repeat(2, 100vw);
  overflow: scroll;
  scroll-behavior: smooth;
  text-align: center;
}


// .grid-units {
//   display: grid;
//   grid-template-columns: repeat(45, 100vw);
//   overflow: scroll;
// }