form {
	width: 100%;
	margin: 0 auto;
	height: 70vh;
	text-align: center;
	&.scroll {
		height: 70vh;
	}
	
	&.is-processing {
		opacity: 0.5;
	}

	.field {
		margin-bottom: 20px;
	}

	label {
		font-weight: 700;
		font-size: 18px;
		margin-bottom: 10px;
		display: block;
	}
	select {
		border: 1px solid $color-dark;
		border-radius: 10px;
		padding: 10px;
		width: 175px;
		font-size: 13px;

		&.multiple {
			background: $color-white;
			border: none;
			overflow: visible;
			text-align: center;
			margin-bottom: 25px;

			&:focus {
				outline: none;
			}
			option {
				padding-top: 5px;
				&:checked{
					background: $color-blue;
				}
			}

		}
	}

	input {
		border: 1px solid $color-dark;
		border-radius: 10px;
		padding: 10px;
		width: 175px;
		font-size: 12px;
	}
	.submit {
		padding-top: 20px;
		button {
			padding: 15px 20px;
			text-align: center;
			border: none;
			font-size: 18px;
			border-radius: 10px;
			width: 175px;
			background-color: $color-blue;
			cursor: pointer;
			color: $color-white;
			font-weight: 700;
		}
	}

	.field.has-error label {
		color: #F7B733;
	}

	.validation {
		margin: 5px 0 10px;
		color: #F7B733;

	}
	.field.has-error input {
		border: 1px solid  #F7B733;
	}
}
