body {
  background-image: url(assets/bg-cow.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#site-header {
  padding: 20px 0 10px;
  color: $color-white;
  text-align: center;


  h1 {
    font-weight: 500;
    span {
      font-weight: 300;
    }
  }
}

#site-footer {
  color: $color-white;
  padding: 10px 0;
  background: $color-dark;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;


  nav {
    display: flex;
    justify-content: space-around;

    a {
      text-decoration: none;
      color: $color-white;
      margin-right: 10px;

      img {
        width: 20px;
      }

      p {
        line-height: 0.5;
        padding: 3px 0 2px;
        text-transform: uppercase;
        font-size: 11px;
      }

      &:hover {
        border-bottom: 4px solid $color-blue;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}

#site-main {
  margin-bottom: 60px;
  height: 100%;
  padding-top: 30px;
  text-align: center;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

.curriculum-section {
  .modules-menu {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    p {
      font-size: 25px;
      font-weight: 300;
      border-right: 1px solid $color-blue;
      padding-right: 40px;
  
      &:hover {
        border-bottom: 1.5px solid $color-blue;
      }
  
      &:last-child {
        border-right: none;
        padding: 0;
      }
    }
  }
}

.form-cohort {

}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}
