body {
  background-image: url(assets/bg-cow.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#site-header {
  padding: 20px 0 10px;
  color: $color-white;
  text-align: center;


  h1 {
    font-weight: 500;
    span {
      font-weight: 300;
    }
  }
}

#site-footer {
  color: $color-white;
  padding: 10px 0;
  background: $color-dark;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;

  .logo {
    display: none;
  }

  .user{
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-around;

    a {
      display: block;
      text-decoration: none;
      color: $color-white;
      margin-right: 10px;
      border-bottom: 4px solid transparent;
      cursor: pointer;

      img {
        width: 20px;
      }

      p {
        line-height: 0.5;
        padding: 3px 0 2px;
        text-transform: uppercase;
        font-size: 11px;
      }

      &.open {
        border-bottom: 4px solid $color-blue;
      }
      

      &:hover{
        border-bottom: 4px solid $color-blue;
      }

      &:last-child {
        margin: 0;
      }
    }

    .logout {
      a{
        border-bottom: 4px solid transparent;
        cursor: pointer;
      }
      &:hover {
        border-bottom: 4px solid $color-blue;
      }
    }
  }
}

#site-main {
  margin-bottom: 60px;
  height: 100%;
  padding-top: 30px;
  text-align: center;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

.curriculum-section {
  .scroll {
    height: 70vh;
    overflow: scroll;
  }
  .modules-menu {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    p {
      font-size: 25px;
      font-weight: 300;
      width: 33.33%;
      text-align: center;
      border-right: 1px solid $color-blue;
      cursor: pointer;
  
      &:hover {
        font-weight: 700;
        color: $color-blue;
      }

      &.active {
        font-weight: 700;
        color: $color-blue;
      }

      &:last-child {
        border-right: none;
        padding: 0;
      }
    }
  }
}

.cohort-list {
  .scroll {
    height: 70vh;
  }
}

.cohort-details {
  h2 {
    margin-bottom: 5px;
  }
  .start-date {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 20px;
  }

  .cohort-menu {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    p {
      font-size: 25px;
      font-weight: 300;
      padding-right: 40px;
      text-transform: uppercase;
      border-right: 1px solid $color-blue;
  
      &:hover {
        font-weight: 700;
        color: $color-blue;
      }

      &:last-child {
        border-right: none;
        padding: 0;
      }
    }
  }
}

.unit-details{
  .scroll{
    height: 70vh;
  }
  h3 {
    text-transform: uppercase;
    text-align: center;
    &.is-lesson {
      
      color: $color-orange;
    }
  
    &.is-pr {
      
      color: $color-green;
    }
  
    &.is-ritual {
      
      color: $color-pink;
    }
  
    &.is-break {
      display: none;
    }
  }
   h4{
     text-align: center;
     margin-bottom: 10px;
   }
   p{
     text-align: justify;
   }
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

@media (min-width: 1028px) {
  body {
    background-image: url(assets/bg-big.jpg);
  }

  .container {
    max-width: 95%;
    margin: 0 20px 0 120px;
  }


  #site-footer {
    color: $color-white;
    padding: 10px 0;
    background: $color-dark;
    text-align: center;
    position: fixed;
    left: 0;
    height: 100%;
    width: 100px;
    z-index: 10;

    .logout {
      position: fixed;
      bottom: 20px;
      left: 30px;
      border-bottom: 4px solid transparent;
    }

    .logo {
      display: block;
      width: 70%;
      margin: 20px auto;
      img {
        width: 100%;
      }
    }

    .user{
      display: inline-block;
      text-align: left;
      padding-left: 10px;
      margin-bottom: 150px;
    }
  
    nav {
      display: block;
      justify-content: none;
  
      a {
        text-decoration: none;
        color: $color-white;
        margin-bottom: 40px;
        border-bottom: 4px solid transparent;
        cursor: pointer;
        width: 100%;
  
        img {
          width: 20px;
        }
  
        p {
          line-height: 0.5;
          padding: 3px 0 2px;
          text-transform: uppercase;
          font-size: 11px;
        }
        
        &:hover {
          border-bottom: 4px solid $color-blue;
        }
  
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
