body {
  color: $color-dark;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 80px;
}

h3 {}

p {
  margin: 0;
}

input, button {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}