body {
  color: #000f40;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

h2 {}

h3 {}

p {
  margin: 0;
}

input, button {
  font-family: 'Roboto', sans-serif;
}