@import '../../../scss/variables';

.swiper-edit {
  display: flex;
  overflow: scroll;
}

.day-card {
  width: 40%;
  margin: 5px;
}

.card {

  &.is-break {
    display: flex;
    background-color: $color-yellow;
  }


}

